:root {
  --fs-300: 1.125rem;
  --fs-500: 1.5rem;
  --fs-700: 2.25rem;
  --fs-900: 2.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  /* line-height: 1.1; */
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--fs-900);
  font-family: 'Playfair display';
  font-weight: 900;
  margin-top: 0;
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-700);
  font-family: 'Playfair display';
  font-weight: 900;
  margin-top: 0;
  line-height: 1.1;
}

.hero__subtitle {
  font-size: var(--fs-300);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 0.25em;
}

p {
  font-size: var(--fs-500);
}

.content__container {
  width: 87%;
  max-width: 1128px;
  margin: 0 auto;
  padding: 4rem 0;
}

.hero__banner {
  background-color: #f3eed9;
  min-height: 660px;
  text-align: center;

  display: flex;
  align-items: center;
}

.hero__title {
  color: #824936;
}

.hero__subtitle {
  text-transform: uppercase;
}

.section__title {
  color: #824936;
  text-align: center;
  margin-bottom: 1rem;
}

.section--three {
  background-color: #222c2a;
  color: #fff;
}

.section--four {
  background-color: #824936;
  color: #fff;
}

.article__title {
  margin-bottom: 1rem;
  color: #f3eed9;
}

@media (min-width: 720px) {
  .row {
    display: flex;
    gap: 4rem;
  }
  .col {
    width: 100%;
  }

  .hero__title {
    font-size: 3.75rem;
  }
}
