# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Ignore dependencies and build files
node_modules/
dist/
.cache/

# Ignore temp files from gh-pages
node_modules/.cache/

# Ignore OS/system/editor files
.DS_Store
*.log
*.tmp

# Ignore project output folders if needed
gh-pages-temp/
